# Files and Directories to be ignored for gitconvex-server goes here

build/
.idea/
database/
ui/
dist/

env_config.json
gitclient
/*.exe
/*.dll
gitconvex
gitconvex-server
/local_env_set.sh
