# Files and Directories to be ignored for gitconvex-server goes here

build/
.idea/
database/
ui/
dist/
gitconvex-test/

env_config.json
gitclient
coverage.out
/*.exe
/*.dll
gitconvex
gitconvex-server
/local_env_set.sh
