name: Gitconvex Server Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Gitconvex Server Main Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Setup libgit2
        run: |
          wget https://github.com/libgit2/libgit2/releases/download/v1.1.0/libgit2-1.1.0.tar.gz
          tar -xzf libgit2-1.1.0.tar.gz
          cd libgit2-1.1.0
          mkdir build && cd ./build
          sudo apt  install cmake -y
          sudo apt install pkg-config -y
          sudo apt-get install libssl-dev
          cmake ..
          cmake --build .
          sudo make install
          sudo /sbin/ldconfig -v

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Running Test Cases
        run: |
          go get github.com/libgit2/git2go/v31
          git config --global user.name "${{ secrets.ACTION_USER_NAME }}" && git config --global user.email "${{ secrets.ACTION_USER_EMAIL }}"
          export GOTESTENV=ci && go test -v -tags static,system_libgit2 ./...

      - name: Build
        run: go build -v .

      - name: Integration and Deployment
        run: |
          export TARGET_BRANCH=${{ secrets.TARGET_BRANCH }}
          git clone https://github.com/neel1996/gitconvex-server.git $HOME/gitconvex-server
          cd $HOME/gitconvex-server
          git checkout ${{ github.head_ref }}
          export AUTHOR_NAME=$(git log --pretty=format:%an -1)
          export AUTHOR_EMAIL=$(git log --pretty=format:%ae -1)
          export LATEST_COMMIT=$(git log --oneline -1 --pretty=format:%s)
          git clone https://github.com/neel1996/gitconvex.git $HOME/gitconvex
          git config --global user.name "$AUTHOR_NAME" && git config --global user.email "$AUTHOR_EMAIL"
          cd $HOME/gitconvex
          git checkout $TARGET_BRANCH
          cd $GITHUB_WORKSPACE
          rm README.md
          rm -rf .git/ .github/ .gitignore gitconvex-server
          cp -rp * $HOME/gitconvex/
          cd $HOME/gitconvex/
          rm -rf libgit2-1.1.0*
          echo "Commit Message --> $LATEST_COMMIT"
          git status
          git add --all
          git commit -m "$LATEST_COMMIT"
          git log -1
          git remote set-url origin https://${{ secrets.ACTION_USER_NAME }}:${{ secrets.AUTH_TOKEN }}@github.com/neel1996/gitconvex
          git push -u origin $TARGET_BRANCH
